#ipython>=8.10
#jupyterlab>=3.0
#notebook
#kedro~=1.2.0


kedro==1.2.0
kedro-viz==12.3.0
kedro-datasets==9.2.0
scikit-learn==1.8.0
pandas==2.3.3
numpy==2.4.3
matplotlib==3.10.8
plotly==6.6.0
yfinance==1.2.0
notebook==7.5.5
streamlit==1.55.0
openpyxl==3.1.5
black==26.3.1


#py -3.12 -m venv kedro-viz-learning-3.12.venv